html{
   font-size: 100%;
}
header{
    height: 80px;
    color: white;
    background-color: green;
}
ul {
    color: white;
    list-style: none;
}
.list li{
    color: white;
    display: inline-block;
}
.list{

}
h1{
    color: white;
}
i{
    color: white;
}
#prova{
    width: 25%;
}
p{
    font-size: 10px;
}
#id_jumbotron{
    background-color: aquamarine;
    height:600px;
}
.img_avatar{
    width: 25%;
}
